<body>
    <div class="div-h1">
        <h1>GRACIAS POR CONFIAR EN RAPI-TAXI</h1>
    </div>
    <div class="container">
        <div class="div-h2">
            <h2>Escribenos a Rapi-Taxi</h2>
        </div>
        <div class="div-h2-S">
            <h2>Siguenos en:</h2>
            <ul>
                <li>
                    <a href="https://www.facebook.com/" target="_blank"> <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Ffacebook.png?alt=media&token=5a6d42b1-477b-44ab-8621-68e8f499a6ea&_gl=1*17lrbrr*_ga*NDc4NTMyNzQ3LjE2OTQ5MjIyNDQ.*_ga_CW55HF8NVT*MTY5NTg3MDk3Mi4xOS4xLjE2OTU4NzEwMTkuMTMuMC4w" width="20" height="20"></a>
                </li>
                <li>
                    <a href="https://api.whatsapp.com/send?phone=963981870&text=Prueba%20sobre%20el%20link" target="_blank"> <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fwhatsapp.png?alt=media&token=11926ed3-0c76-486f-8c6f-ce20ebd5321c&_gl=1*5rno9k*_ga*NDc4NTMyNzQ3LjE2OTQ5MjIyNDQ.*_ga_CW55HF8NVT*MTY5NTg3MDk3Mi4xOS4xLjE2OTU4NzEwNDEuNjAuMC4w" width="20" height="20"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank"> <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Finstagram.png?alt=media&token=db8fba84-d7d3-437e-9501-b0d00d20c762&_gl=1*16b0l98*_ga*NDc4NTMyNzQ3LjE2OTQ5MjIyNDQ.*_ga_CW55HF8NVT*MTY5NTg3MDk3Mi4xOS4xLjE2OTU4NzEwNTkuNDIuMC4w" width="20" height="20"></a>
                </li>
                <li>
                    <a href="https://twitter.com/home" target="_blank"> <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgorjeo.png?alt=media&token=e5efb411-e2d5-4714-b970-12bfa372a2a0&_gl=1*b80i2n*_ga*NDc4NTMyNzQ3LjE2OTQ5MjIyNDQ.*_ga_CW55HF8NVT*MTY5NTg3MDk3Mi4xOS4xLjE2OTU4NzEwNzUuMjYuMC4w" width="20" height="20"></a>
                </li>
            </ul>
        </div>
        <div class="div-h2-P">
            <h2>Más ventanas</h2>
        </div>
    </div>
    <div class="div-h3">
        <h3>Nombre</h3>
        <input class="form-control form-control-lg" type="text" placeholder=" " aria-label=".form-control-lg example">
        <h3>Numero celular</h3>
        <input class="form-control form-control-lg" type="text" placeholder=" " aria-label=".form-control-lg example">
        <h3>Punto de encuentro</h3>
        <input class="form-control form-control-lg" type="text" placeholder=" " aria-label=".form-control-lg example">
        <h3>Mensaje</h3>
        <input class="form-control form-control-lg" type="text" placeholder=" " aria-label=".form-control-lg example">
    </div>
    <button type="button" id="btnEnviar" class="btn btn-dark">Enviar</button>
</body>