@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #454701;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 600px;
    background: #f0f0ee;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hwb(60 72% 27% / 0.26), hsla(58, 66%, 75%, 0.589)), url(https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fmenu.jpg?alt=media&token=87f4f29b-991d-41c3-85fd-2b1697c76bcd);
    background: linear-gradient(to right, hwb(60 50% 49% / 0.253), hsla(58, 66%, 75%, 0.589)), url(https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fmenu.jpg?alt=media&token=87f4f29b-991d-41c3-85fd-2b1697c76bcd);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

/*.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}*/

/*Nosotros*/

.contenedor-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-texto{
    width: 48%;
}

.contenido-texto h3{
    margin-bottom: 15px;
}

.contenido-texto h3 span{
    background: #CAC531;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 2px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Unidades*/
.unidades{
    background: #f2f2f2;
}

.galeria-uni{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-uni{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-uni > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(66, 91%, 38%, 0.644);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform .5s;

}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-uni:hover .hover-galeria{
    transform: scale(1);
}

/*CLIENTES*/
.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #CAC531;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #000000;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*Otros Servicios*/
.otros-servicios{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #000000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #CAC531;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
    
}
