<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapitaxi</title>
</head>
<body>
    <header>
        <section class="textos-header">
            <h1>RAPITAXI</h1>
            <h2>El mejor servicio de la ciudad</h2>
        </section>
        </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Sobre nosotros</h2>
            <div class="contenedor-nosotros">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fnosotros.png?alt=media&token=ceec3f26-74ea-44b6-bcfc-3110a5e08226" alt="Nosotros" class="imagen-about-us">
                <div class="contenido-texto">
                    <h3><span>1</span>Los mejores y mas seguros</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel inventore aliquid sapiente ducimus doloribus necessitatibus.</p>
                    <h3><span>2</span>Disponibles las 24 horas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel inventore aliquid sapiente ducimus doloribus necessitatibus.</p>
                </div>
            </div>
        </section>
        <section class="unidades">
            <div class="contenedor">
                <h2 class="titulo">Nuestras unidades</h2>
            <div class="galeria-uni">
            <div class="imagen-uni">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgaleria1.jpg?alt=media&token=cd1c5347-0d50-41a0-864a-13662250d68e">
                <div class="hover-galeria">
                    <img src="" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-uni">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgaleria2.jpg?alt=media&token=f81806be-d787-4983-b78d-f98874a6b517" alt="">
                <div class="hover-galeria">
                    <img src="" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-uni">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgaleria3.jpg?alt=media&token=75a4d742-7a9e-4e4b-ae90-caf44e5c70d7" alt="">
                <div class="hover-galeria">
                    <img src="" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-uni">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgaleria4.jpg?alt=media&token=21b27f5e-48c3-453c-babe-f9058579ced4" alt="">
                <div class="hover-galeria">
                    <img src="" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-uni">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgaleria5.jpg?alt=media&token=f795786c-79cb-4809-a38a-9ac7bf31dfc6" alt="">
                <div class="hover-galeria">
                    <img src="" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-uni">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgaleria6.jpg?alt=media&token=824f9240-8552-4cb4-aa2e-4df4f6096b9e" alt="">
                <div class="hover-galeria">
                    <img src="" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-uni">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgaleria7.jpg?alt=media&token=4e16aec1-d68c-409f-a1b7-28467d6a1a61" alt="">
                <div class="hover-galeria">
                    <img src="" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            <div class="imagen-uni">
                <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fgaleria8.jpg?alt=media&token=6f6cef6e-dd44-4ddf-abc1-901cabb12608" alt="">
                <div class="hover-galeria">
                    <img src="" alt="">
                    <p>Nuestro trabajo</p>
                </div>
            </div>
            </div>
        </div>
        </section>
        <section class="clientes contenedor">
            <h2 class="titulo">Nuestros clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fface1.jpg?alt=media&token=a44811e3-18b7-474f-af78-5ce04b6cd7e5" alt="">
                    <div class="contenido-texto-card">
                        <h4>Name</h4>
                        <p>Buen trabajo, me encanto lo profesionales que son!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fface2.jpg?alt=media&token=8ee2f68c-cd94-485e-9f05-c7e4cc0f65a8" alt="">
                    <div class="contenido-texto-card">
                        <h4>Name</h4>
                        <p>Lora ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
                    </div>
                </div>           
            </div>
        </section>
        <section class="otros-servicios">
            <div class="contenedor">
                <h2 class="titulo">Nuestros Servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fservicio1.png?alt=media&token=b0abe49e-348b-4bea-97dd-4437174c0d05" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ne</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fservicio2.png?alt=media&token=431ec3f8-c0c2-4dc4-ba52-e507830de9c4" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ne</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="https://firebasestorage.googleapis.com/v0/b/web-program-c2a2f.appspot.com/o/img%2Fservicio3.png?alt=media&token=d8d3fe29-cc9e-4c39-88cf-d1251a6ff7f0" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ne</p>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Celular</h4>
                <p>0995292333</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>rapitaxigmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicacion</h4>
                <p>Machala</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; AJJ Development Team | RAPITAXI</h2>
    </footer>
    
</body>
</html>
